#raceCar {
  width: 50%;
  height: 50%;
  position: relative;
}

.logout {
  cursor: pointer;
  text-transform: lowercase;
}

.welcome {
  text-transform: capitalize;
}

.title {
  font-size: 5vw;
}

.lead {
  font-size: 2vw;
}

.container {
  padding-right: 0;
}
